# base de datos 
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
## usuario para las APIS de transacciones y IA
APP_DB_USER=
APP_DB_PASSWORD=
DATABASE_URL=

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_USER=
REDIS_PASSWORD=
REDIS_STREAM_IA=
REDIS_CONSUMER_GROUP_IA=
REDIS_URL=

# VICTORIAMETRICS
VICTORIAMETRICS_HOST=
VICTORIAMETRICS_PORT=